body{
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera {
    box-shadow: 0px 2px 20px 0px rgba(0,0,0, 0.5);
    color: rgb(0, 0, 0);
    margin: 0;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    background-color: blue;
}

.logo{
    width: 40px;
    margin: 0 30px;
}

.tagline{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
}
.post{
    background-color: white;
}